.main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position:relative;

  .chatBox {
    background-color: red;
    height:580px;
    margin-left: -30%;
    // position:sticky;
  }

  .sideBar {
    width: 50%;
    left: 50%;
    // background-color: skyblue;
    .projectInfo {
      // background-color: royalblue;
    }
  }
}
