.mentormodal {
  width: 50vw;    /* Occupy the 90% of the screen width */
  max-width: 50vw;
}
.wrap{
  /* visibility: hidden; */
  display:flex;
  flex-direction:column;
  height: 500px;
  width: 400px;
}
.box{
   display: flex; 
   flex-flow: column;
}